$color_light-blue: lightblue;
$color_black: black;
$color_gray: gray;
$color_white: #fff;
$color_dark-teal: teal;
$color_orange: orange;

/*
 * Create breakpoints
 * @include breakpoint {} defaults to the $size_site-medium breakpoint
 * @include breakpoint( $size_site-large ) {}
 */ 
 @mixin breakpoint( $breakpoint: $size_site-medium, $size: min, $orientation: 'portrait' ) {
	
	// example usage: @include breakpoint($size_site-min, min, 'landscape')
	@if $orientation == 'landscape' {
		@media only screen and (#{$size}-width : $breakpoint) and (orientation: landscape) {
			@content;
		}
	}

	@else {
		@media only screen and (#{$size}-width : $breakpoint) {
			@content;
		}
	}
}

.sapt-pricing-table-row {

	@include breakpoint(768px) {
		margin: 60px auto;
	}
		
	.fl-col-group {

		> .fl-col > .fl-col-content {

			@include breakpoint(768px) {
				height: 100%;
			}

			> .fl-module-sapt-price-table {

				@include breakpoint(768px) {
					height: 100%;
				}

				> .fl-module-content {

					@include breakpoint(768px) {
						height: 100%;
						margin: 0 10px;
					}
				}
			}
		}
	}
}

.fl-module-content {

	.sapt-pricing-table {
		border: 0.2rem solid #e6ecf5;
		border-radius: 0.8rem;
		margin-bottom: 4px;

		@include breakpoint(768px) {
			height: 100%;
			position: relative;
		}

		.most-popular,
		h3,
		.quote,
		.feature-list,
		.feature-link {
			padding-left: 20px;
			padding-right: 20px;
		}

		&.most-popular {

			@include breakpoint(768px) {
				height: calc(100% + 60px);
				margin-top: -30px;
			}

			.popular-heading {
				color: $color_light-blue;
				font-size: 1.5rem;
				margin: 26px 0 0;
				letter-spacing: 0.15rem;
				text-align: center;
				text-transform: uppercase;
			}

			h3 {
				margin-top: 4px;
			}

			.price {
				background: $color_black;
				padding: 12px 0;
			}
		}

		h3 {
			color: $color_gray;
			font-size: 3.4rem;
			font-weight: 300;
			margin: 20px 0;
			text-align: center;

			@include breakpoint(768px) {
				font-size: 3.6rem;
				margin: 25px 0;
			}
		}

		.price {
			background: #046dba;
			padding: 8px 0;
			text-align: center;

			h4 {
				color: $color_white;
				font-size: 5.2rem;
				font-weight: 300;
				margin: 0;

				@include breakpoint(768px) {
					margin: 4px 0;
				}

				span {
					display: inline-block;
					vertical-align: middle;
				}

				.currency {
					font-size: 2.5rem;
					margin-bottom: 18px;
					margin-right: 2px;
				}

				.length {
					font-size: 1.5rem;
					margin-left: 8px;
					margin-bottom: 8px;
				}
			}
		}

		.quote {
			color: $color_gray;
			font-size: 1.5rem;
			font-style: italic;
			margin: 24px 0;
			text-align: center;
		}

		.action {
			border-bottom: 1px solid #e6ecf5;
			margin: 34px 20px 20px;
			padding-bottom: 30px;
			text-align: center;

			.button {
				background: $color_orange;
				border-bottom: none;
				border-radius: 2rem;
				color: $color_white;
				display: inline-block;
				font-size: 1.8rem;
				height: 40px;
				letter-spacing: 0.1rem;
				line-height: 1;
				padding: 10px 40px;
				text-transform: uppercase;
				transition: background 0.5s ease-in-out;

				&:hover,
				&:focus {
					background: #E67700;
					text-decoration: none;
				}

				@include breakpoint(768px) {
					font-size: 1.6rem;
					line-height: 1.2;
					padding: 10px 30px;
				}
			}
		}

		.feature-list {

			@include breakpoint(768px) {
				margin-bottom: 70px;
			}

			ul {
				margin-bottom: 30px;
				padding-left: 28px;

				li {
					padding: 4px 0;
					position: relative;

					&:before {
						background-image: url(./images/icon-check-mark-filled.svg);
						background-size: 20px 20px;
						height: 20px;
						left: -28px;
						top: 8px;
						width: 20px;
					}
				}
			}

			.additional {
				display: none;

				@include breakpoint(1024px) {
					display: block;
				}
			}
		}

		.feature-link {
			border-bottom: none;
			display: block;
			font-weight: 500;
			letter-spacing: 0.1rem;
			margin-bottom: 30px;
			position: relative;
			text-transform: uppercase;

			&:hover {
				color: $color_dark-teal;
			}

			@include breakpoint(768px) {
				bottom: -6px;
				position: absolute;
			}

			&:after {
				background-image: url(./images/icon-caret-right.svg);
				background-size: 10px 10px;
				content: '';
				height: 10px;
				margin-left: 5px;
				position: absolute;
				top: 5px;
				width: 10px;
			}
		}
	}
}

.sapt-info-icon {
	background: url(./images/icon-information.svg);
	background-size: 16px 16px;
	cursor: pointer;
	display: inline-block;
	height: 16px;
	margin-bottom: -3px;
	width: 16px;
}

.sapt-info {
	background: $color_light-blue;
	border: 0.2rem solid #e6ecf5;
	border-radius: 0.8rem;
	bottom: 30px;
	color: $color_white;
	display: none;
	padding: 12px;
	position: absolute;
	right: 0;
}